/* commone shared style */

body{
    font-family: 'Open Sans', sans-serif;
}


nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
}

.website-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-primary{
    color: #FD6E0A
}

nav > ul {
    display: flex;
    align-items:center
}

nav li
{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgba(71, 71, 71, 1)

}

.btn-primary{

border-radius: 5px;
background: #FD6E0A;
border: 0px;
font-size: 20px;
font-weight: 700;
color:white;
padding: 15px 35px;
}

/* header related styles */
.header{

    background: #FFF8F3;

}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items:center;
}

.profile-pic{
width: 200px;


}